<!-- <p>{{grid[2][2]}}</p>
<div *ngFor="let cella of boards">{{cella}}</div>
<hr> -->
<div>Players number is {{loggedPlayers}}</div>
<div>You are player {{connessione.connectionId}}</div>
<div *ngIf="loggedPlayers === 2  && !endGame; else stillWaiting">
    <div *ngIf="this.boards[this.connessione.connectionId].player.shipsToPlace.length">
        <div *ngIf="positionedShips < 2">Scegli l'orientamento della prossima nave (verticale di default):
            <button mat-raised-button color="primary" (click)="setHorizontal()">Orizzontale</button><button mat-raised-button color="primary" (click)="setVertical()">Verticale</button>
            <div>L'orientamento attuale è: {{orientation}}</div>
            <div>La prossima nave da posizionare è: {{this.boards[this.connessione.connectionId].player.shipsToPlace[0].id}}</div>
        </div>
    </div>
    <div *ngFor="let board of boards; let i = index">
        <p>Player: {{board.player.id}}
            <!-- Board: {{board.targetOrSelf === 0 ? 'target' : 'self'}} -->
        </p>
        <table>
            <tr *ngFor="let row of board.tiles; let j = index">
                <td *ngFor="let col of row; let k = index" (click)="getPosition($event)" [class.show-ship]="connessione.connectionId == i && col.used"
                    id="t{{i}}{{j}}{{k}}">
                    <!-- {{ col.value === "X" ? "X" : "O"}}
                    {{ col.value === "X" ? "X" : col.value === "0"? "O" : "U"}} -->
                    {{col.value}}
                </td>
            </tr>
        </table>
    </div>
</div>


<ng-template #stillWaiting>
    <div *ngIf="!endGame; else gameOver">
        Waiting for more players to join...
    </div>
</ng-template>

<ng-template #gameOver>
    Game Over!
    The winner is: player {{currPlayer}}
</ng-template>

<!-- <mat-form-field>
    <input matInput placeholder="row" #row>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="col" #col>
</mat-form-field>
<button mat-raised-button color='primary' (click)="onFire(row, col)">Fire!</button> -->