<!-- <p>{{grid[2][2]}}</p>
<div *ngFor="let cella of boards">{{cella}}</div>
<hr> -->

<div *ngFor="let board of boards; let i = index">
    <p>Player: {{board.player.id}}
        <!-- , Board: {{board.targetOrSelf === 0 ? 'target' : 'self'}} -->
    </p>
    <table>
        <tr *ngFor="let row of board.tiles; let j = index">
            <td *ngFor="let col of row; let k = index" id="t{{i}}{{j}}{{k}}">
                {{ col.value === "X" ? "X" : "O"}}
            </td>
        </tr>
    </table>
</div>


<mat-form-field>
    <input matInput placeholder="row" #row>
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="col" #col>
</mat-form-field>
<button mat-raised-button color='primary' (click)="onFire(row, col)">Fire!</button>